@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
   --header-bg-color: #242527;
   --footer-bg-color: #242527;
   --body-bg-color: #18191b;
   --box-bg-color: #2a2d3e;
   --link-color: #7481a3;
   --link-hover-color: rgb(32, 146, 93);
   --body-text-color: whitesmoke;

}
body {
  background-color: var(--body-bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--body-text-color);
}
.header {
  background-color: var(--header-bg-color);
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .github-logo .fa{
    font-size: 2em;
}
.header .social-media .fa{
    color: yellowgreen;
    padding: 0 0 0 1em;
    font-size: 1em;
}
.job-wrapper {
  padding: 0 1em;
 
}
.job-wrapper h2{
  font-weight: 100;
  text-align: center;
  color: burlywood;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: var(--header-bg-color);
  padding: 0.5em 0;
  border-radius: 10px;

}
.main-section{
  min-height: 100vh;
  width: 70%;
  margin: 0 auto;
  position: relative;
 
}
.error-message{
    text-align: center;
    position: absolute;
    color: green;
    font-size: 1em;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.job-details{
  width: 70%;
  margin: auto;
  max-width: 600px;
  text-align: justify;
  padding: 1em;
  line-height: 1.5em;
}
.job-highlights{
  background-color: var(--box-bg-color);
  padding: 1em;
  margin-top: 1em;
  color: whitesmoke;
}

.job-description p{
    padding: 0.5em 0;
}
.job-description li{
    margin-left: 1.5em;
}
.label{
  color: yellowgreen;
  text-transform: capitalize;
}

a{
  text-decoration: none;
  color: var(--link-color);
  transform: color 500ms linear;
  cursor: pointer;
}
a:hover{
  color: var(--link-hover-color);
}
.main-link a{
  color: wheat;
}

.button-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}
.button-wrapper button{
    padding: 1em;
    margin: 1em;
    background-color: var(--box-bg-color);
    border: 1px solid transparent;
    color: var(--body-text-color);
    cursor: pointer;
}
.button-wrapper button:focus{
    outline: 1px solid var(--box-bg-color);
}
.footer{
  background-color: var(--footer-bg-color);
  color: whitesmoke;
  padding: 1em;
  margin-top: 1em;
}
.footer p{
  text-align: center
}
.footer a{
  color: green
}


@media screen and  (max-width: 700px){
   .main-section, .job-details{
       width: 90%;
   }
}